:root {
  --form-bg: rgba(235, 235, 235, 1);
  --app-bg: #1f69a5;
  --btn-bg: #4c9fe2;
  --nav-bg: #134d7c;
  --high-light: #04dafa;
  --nav-links: #04dafa;
  --table-tr: rgba(128, 128, 128, 0.195);
  --table-fhir: rgba(128, 128, 128, 0.2);
}

body {
  background-color: var(--app-bg);
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: var(--app-bg);
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.body {
  display: grid;
  place-items: center;
  height: calc(100vh - 4rem);
}

/*------------------------------------- MAIN COMPONENTS ------------------------------------*/
.auth-form-container {
  width: 25rem;
  height: 30rem;
  padding: 3rem 3rem;
  border: 0px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: var(--form-bg);
  display: flex;
  flex-direction: column;
}
.auth-form-container h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.inputbox {
  position: relative;
  margin: 10% 0;
  border-bottom: 2px solid black;
}
.inputbox label {
  position: absolute;
  width: 10rem;
  text-align: start;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: black;
  transition: 0.5s;
  background-color: rgba(235, 235, 235, 1);
}
.inputbox input {
  width: 20rem;
  height: 4rem;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 35px 0 5px;
}
.inputbox span {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 10px;
  color: black;
  font-size: 1.5em;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
input:required:invalid:not(:placeholder-shown) ~ label {
  color: red;
  font-weight: 700;
  top: -5px;
}
.inputbox input::placeholder,
::-webkit-input-placeholder,
:-ms-input-placeholder {
  color: red !important;
}
/* button.btn {
  position: relative;
  border: none;
  box-shadow: 2px 2px 0.3rem 0 black;
  background-color: #171828;
  padding: 10px;
  margin-top: 10%;
  border-radius: 0;
  cursor: pointer;
  color: var(--high-light);
  transition: 0.5s;
}
button.btn:hover {
  border: 2px solid var(--high-light);
  background: none;
  color: black;
  transform: translateY(-5px);
  box-shadow: 0 0.35em 0.25em -0.15em var(--high-light);
  font-weight: 700;
} */
.title {
  color: #4299e1;
}
/*------------------------------------- NAVBAR ------------------------------------*/
.navbar {
  top: 0;
  width: 100vw;
  height: 5rem;
  padding: 0.5rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-bg);
  /* box-shadow: 0px 3px 8px 2px grey; */
  border-bottom: 1px solid black;
}
.navbar-title {
  font-size: 1.5rem;
  padding: 0.8rem;
  font-weight: 700;
  border: 1px solid var(--btn-bg);
  border-radius: 50%;
}
.navbar-title:hover:after {
  position: absolute;
  background-color: var(--nav-bg);
  content: "Notas de Alta";
  transform: translateX(-2rem);
  border-radius: 0.5rem;
}
.navbar * {
  color: white;
}
.navbar-left-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-left-items li {
  width: 10rem;
  height: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-left-items li a {
  width: 100%;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.8s ease;
}
.navbar-left-items li a:hover {
  padding: 0.8rem 1rem;
  font-weight: 700;
  color: var(--btn-bg);
  border: 0.05rem solid var(--btn-bg);
}
.navbar-left-items li a:active {
  color: var(--nav-links);
  border: 0.05rem solid var(--nav-links);
}
.navbar-right-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-right-items * {
  width: 5rem;
  height: 2rem;
  margin: 0 1rem;
}
.user-creds {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-right-items .user-name,
.navbar-right-items .user-type {
  position: absolute;
  /* padding: 0.3rem 1.5rem; */
  top: 1.7rem;
  right: 18rem;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: all 0.8s ease;
}
.navbar-right-items .user-type {
  opacity: 0;
}
.user-creds:hover .user-type {
  opacity: 1;
  /* border: 1px solid black; */
  color: var(--high-light);
  border-radius: 0.2rem;
}
.user-creds:hover .user-name {
  opacity: 0;
}
.btn-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0.05rem solid var(--btn-bg);
  box-shadow: none;
  padding: 1.5rem 4.5rem;
  margin: 1rem 0 1rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.8s ease;
}
.btn-logout:hover {
  border: 0.05rem solid var(--nav-bg);
  color: var(--nav-bg);
  background: var(--form-bg);
  transform: none;
  box-shadow: none;
}

/*------------------------------------- GO BACK BTN ------------------------------------*/
button.goback {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0.5rem;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 150%;
  border-radius: 10rem;
}
button.goback:hover {
  box-shadow: none;
  transform: none;
}
button:active {
  background: #084a5c;
  color: white;
}

/*------------------------------------- HOME ------------------------------------*/
.home-container {
  height: 25rem;
  width: 35rem;
  padding: 3rem 1rem;
}
.home-title {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.btns-redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
}
.btn-in-home {
  width: 15rem;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  font-weight: 700;
  border-radius: 0.5rem;
  background: var(--btn-bg);
  box-shadow: none;
}
.btn-in-home:hover {
  border: 0.05rem solid var(--btn-bg);
  color: var(--btn-bg);
  background: var(--form-bg);
  transform: none;
  box-shadow: none;
}

/*------------------------------------- LOGIN ------------------------------------*/
.login-container {
  height: 40rem;
  width: 35rem;
  padding: 5rem 7rem;
}
.login-title {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  /* margin-top: 1rem; */
  /* width: 20rem; */
}
.btn-login {
  width: 15rem;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  align-self: center;
  font-weight: 700;
  border-radius: 0.5rem;
  background: var(--btn-bg);
  box-shadow: none;
}
.btn-login:hover {
  border: 0.05rem solid var(--btn-bg);
  color: var(--btn-bg);
  background: var(--form-bg);
  transform: none;
  box-shadow: none;
}

/*------------------------------------- SIGNUP ------------------------------------*/
.signup-container {
  height: 45rem;
  width: 40rem;
  padding: 4rem 7rem;
}
.signup-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  margin-bottom: 1rem;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  /* margin-top: 1rem; */
  /* width: 20rem; */
}
.signup-form .inputbox input,
.signup-form .select-type {
  width: 20rem;
  height: 3.5rem;
  border: none;
}
.signup-form .select-type {
  background: none;
  border-radius: 0.2rem;
  width: 100%;
  text-align: left;
}
.signup-form .select-type option {
  height: 3rem;
  background: none;
  text-align: left;
}
.btn-signup {
  width: 15rem;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  align-self: center;
  font-weight: 700;
  border-radius: 0.5rem;
  background: var(--btn-bg);
  box-shadow: none;
}
.btn-signup:hover {
  border: 0.05rem solid var(--btn-bg);
  color: var(--btn-bg);
  background: var(--form-bg);
  transform: none;
  box-shadow: none;
}

/*------------------------------------- SEND EMAIL ------------------------------------*/
.sendemail-container {
  height: 25rem;
  width: 35rem;
  padding: 5rem 7rem;
}
.sendemail-title {
  font-size: 1.3rem;
  margin: 1rem 0;
}
.sendemail-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  /* margin-top: 1rem; */
  /* width: 20rem; */
}
.btn-sendemail {
  width: 15rem;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  align-self: center;
  font-weight: 700;
  border-radius: 0.5rem;
  background: var(--btn-bg);
  box-shadow: none;
}
.btn-sendemail:hover {
  border: 0.05rem solid var(--btn-bg);
  color: var(--btn-bg);
  background: var(--form-bg);
  transform: none;
  box-shadow: none;
}

/*-------------------------------------  RECOVER ------------------------------------*/
.recover-container {
  height: 35rem;
  width: 35rem;
  padding: 5rem 7rem;
}
.recover-title {
  font-size: 1.3rem;
  margin: 1rem 0;
}
.recover-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  /* margin-top: 1rem; */
  /* width: 20rem; */
}
.btn-recover {
  width: 15rem;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  align-self: center;
  font-weight: 700;
  border-radius: 0.5rem;
  background: var(--btn-bg);
  box-shadow: none;
}
.btn-recover:hover {
  border: 0.05rem solid var(--btn-bg);
  color: var(--btn-bg);
  background: var(--form-bg);
  transform: none;
  box-shadow: none;
}

/*-------------------------------------  ADMIN ------------------------------------*/
.admin-container {
  height: auto;
  width: 50rem;
}

.form-container {
  width: 10rem;
  height: 10rem;
  background: red;
}

.pacient-form-container {
  width: auto;
  height: auto;
}

.admin-title {
  margin-bottom: 3rem;
}

/*-------------------------------------  ADMIN AND USER TABLES ------------------------------------*/
.admin-table,
.user-table {
  display: grid;
  place-items: center;
}

.admin-table tr,
.user-table tr {
  border-bottom: 1px solid black;
  height: 2.5rem;
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
}

.admin-table thead tr:first-child,
.user-table thead tr:first-child {
  background: var(--table-tr);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.admin-table tbody tr:hover,
.user-table tbody tr:hover {
  background: var(--table-tr);
  cursor: pointer;
}

.admin-table tbody tr:last-child,
.user-table tbody tr:last-child {
  border: none;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.admin-table tr th,
.admin-table tr td,
.user-table tr th,
.user-table tr td {
  margin: 0 3rem;
  width: 20rem;
  justify-self: center;
  text-align: center;
}

/*-------------------------------------  USER FHIR TABLE ------------------------------------*/
.pacient-form-container {
  width: 90rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pacient-form-title {
  font-size: 1.3rem;
  margin: 1rem 0;
  margin-bottom: 3rem;
}
.fhirTable {
  /* width: fit-content; */
  width: 80rem;
  padding-left: 0rem;
  border: 1px solid black;
}
.fhirTable tr {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
}
.fhirTable tr:hover {
  background: var(--table-fhir);
}
.fhirTable tbody tr td.td_0,
.fhirTable tbody tr td.td_1,
.fhirTable tbody tr td.td_2,
.fhirTable tbody tr td.td_3,
.fhirTable tbody tr td.td_4,
.fhirTable tbody tr td.td_5,
.fhirTable tbody tr td.td_6,
.fhirTable tbody tr td.td_7,
.fhirTable tbody tr td.td_8 {
  width: 5rem;
  margin: 0;
}
.fhirTable tr td:first-child {
  width: 8rem;
}
/* .fhirTable tbody tr:last-child {
  width: 90%;
} */
.fhirTable tr td {
  width: fit-content;
  /* padding: 0 1rem; */
  text-align: left;
}
tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
tr tr {
  border-radius: 0.5rem;
}

/*-------------------------------------------------------------------------------------*/
.id {
  font-size: 10rem;
}

button[type="submit"] {
  margin-top: 1.5rem;
}

.after-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

a.regist,
a.forgot {
  text-decoration: none;
  color: black;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;
}
a.regist:hover,
a.forgot:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

p.error {
  background: rgba(255, 0, 0, 0.4);
  padding: 5px 0;
}

.form-principal > button {
  box-shadow: none;
}
