.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #084a5c;
}

.auth-form-container, .login-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 5rem;
  border: 0px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: rgba(235, 235, 235, 1);

}


label {
  text-align: left;
  padding: 5rem 1;
}

input {
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  
}

button {
  border: none;
  background-color: #171828;
  padding: 10px;
  border-radius: 0x;
  cursor: pointer;
  color:#04dafa;
}
