.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #1f69a5;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.body {
  display: grid;
  place-items: center;
  height: calc(100vh - 4rem);
}

.navbar {
  top: 0;
  width: 100vw;
  height: 4rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #134d7c;
  /* box-shadow: 0px 3px 8px 2px grey; */
  border-bottom: 1px solid black;
}

.navbar-left-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-right-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-right-items * {
  width: 5rem;
  height: 2rem;
  margin: 0 1rem;
}
.navbar-right-items .user-name,
.navbar-right-items .user-type {
  position: absolute;
  right: 10rem;
  display: grid;
  place-items: center;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: all 1.5s;
}
.navbar-right-items .user-type {
  opacity: 0;
}
.user-creds:hover .user-type {
  opacity: 1;
  border: 1px solid black;
  border-radius: 0.2rem;
}
.user-creds:hover .user-name {
  opacity: 0;
}

.navbar-left-items li {
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left-items li a:hover {
  width: 5rem;
  height: 2rem;
  color: #04dafa;
}
.navbar-left-items li a:active {
  border: #04dafa;
}

.auth-form-container,
.login-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  width: 25rem;
  height: 30rem;
  padding: 3rem 3rem;
  border: 0px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: rgba(235, 235, 235, 1);
}

.signup-container {
  height: 35rem;
}

.home-container {
  height: 15rem;
}

.sendemail-container {
  height: 20rem;
}

.recover-container {
  height: 25rem;
}

.admin-container {
  height: auto;
  width: 50rem;
}

.form-container {
  width: 10rem;
  height: 10rem;
  background: red;
}

.pacient-form-container {
  width: auto;
  height: auto;
}

.admin-title {
  margin-bottom: 3rem;
}

table {
  display: grid;
  place-items: center;
}

table tr {
  border-bottom: 1px solid black;
  height: 2.5rem;
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table thead tr:first-child {
  background: rgba(128, 128, 128, 0.195);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

table tbody tr:hover {
  background: rgba(128, 128, 128, 0.195);
  cursor: pointer;
}

table tbody tr:last-child {
  border: none;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

tr th,
tr td {
  margin: 0 3rem;
  width: 20rem;
  justify-self: center;
  text-align: center;
}

.title {
  color: #4299e1;
}

.btns-redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
  padding: 3rem 0;
}

.btn-in-home {
  width: 15rem;
  padding: 0 3rem;
  margin-bottom: 1rem;
}

.auth-form-container h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.id {
  font-size: 10rem;
}

.login-form {
  align-self: center;
  margin-top: 1rem;
  /* width: 20rem; */
}

.inputbox {
  position: relative;
  margin: 10% 0;
  border-bottom: 2px solid black;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: black;
  transition: 0.5s;
  background-color: rgba(235, 235, 235, 1);
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 35px 0 5px;
}

.inputbox span {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 10px;
  color: black;
  font-size: 1.5em;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

input:required:invalid:not(:placeholder-shown) ~ label {
  color: red;
  top: -5px;
}

.inputbox input::placeholder,
::-webkit-input-placeholder,
:-ms-input-placeholder {
  color: red !important;
}

/* input:not(:empty) ~ label {
  top: -5px;
  color: #04dafa;
} */

/* input:required:invalid:not(::content) + label {
  top: -5px;
  color: red;
} */

.select-type {
  background: none;
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0rem 3rem;
  width: 100%;
  text-align: left;
}

.select-type option {
  /* background-color: red; */
  background: none;
  text-align: left;
}

.signup-container.inputbox:last-child {
  border: none;
}

button {
  position: relative;
  /* border: none; */
  box-shadow: 2px 2px 0.3rem 0 black;
  /* background-color: #171828; */
  padding: 10px;
  margin-top: 10%;
  border-radius: 0;
  cursor: pointer;
  color: #04dafa;
  transition: 0.5s;
}

button:hover {
  border: 2px solid #04dafa;
  background: none;
  color: black;
  transform: translateY(-5px);
  box-shadow: 0 0.35em 0.25em -0.15em #04dafa;
  font-weight: 700;
}

button[type="submit"] {
  margin-top: 1.5rem;
}

.after-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

a.regist,
a.forgot {
  text-decoration: none;
  color: black;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;
}
a.regist:hover,
a.forgot:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

button.goback {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0.5rem;
  top: 0;
  left: 0;
  font-size: 150%;
  border-radius: 10rem;
}

button.goback:hover {
  box-shadow: none;
  transform: none;
}

button:active {
  background: #084a5c;
  color: white;
}

.btn-logout {
  width: 5rem;
  height: 2rem;
}

p.error {
  background: rgba(255, 0, 0, 0.4);
  padding: 5px 0;
}

.form-principal > button {
  box-shadow: none;
}
